<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.miracle.octts.dao.CourseDao">
    <!--<select id="findGroupOwner" resultType="java.lang.String" parameterType="string">-->
        <!--SELECT group_owner_id FROM group-->
    <!--</select>-->
</mapper>