<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.miracle.octts.dao.HomeworkDao">
    <resultMap id="HomeworkInformation" type="Homework">
        <id property="id" column="id"/>
        <result property="homework_id" column="homework_id"/>
        <result property="course_id" column="course_id"/>
        <result property="teacher_id" column="teacher_id"/>
        <result property="homework_score" column="homework_score"/>
        <result property="homework_status" column="homework_status"/>
        <result property="homework_title" column="homework_title"/>
        <result property="homework_message" column="homework_message"/>
        <result property="homework_start_time" column="start_time"/>
        <result property="homework_end_time" column="end_time"/>
        <result property="resubmit_limit" column="resubmit_limit"/>
    </resultMap>
</mapper>