<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="UserResult" type="User">
        <id property="id" column="id"/>
        <result property="name" column="user_name"/>
        <result property="staff_id" column="staff_id"/>
        <result property="telephone" column="telephone"/>
        <result property="email" column="email"/>
    </resultMap>
</mapper>