<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.miracle.octts.dao.StudentDao">
    <resultMap id="StudentLogin" type="Student">
        <id property="id" column="id"/>
        <result property="student_id" column="student_id"/>
        <result property="password" column="password"/>
    </resultMap>
    <resultMap id="StudentDetail" type="Student">
        <id property="id" column="id"/>
        <result property="createtime" column="gmt_create"/>
        <result property="updatetime" column="gmt_modified"/>
        <result property="uid" column="uid"/>
        <result property="student_id" column="student_id"/>
        <result property="group_id" column="group_id"/>
        <result property="password" column="password"/>
        <result property="student_name" column="student_name"/>
        <result property="student_gender" column="student_gender"/>
        <result property="student_class" column="student_class"/>
        <result property="student_absent" column="student_absent"/>
        <result property="student_rate" column="student_rate"/>
        <result property="personal_score" column="personal_score"/>
        <result property="group_score" column="group_score"/>
    </resultMap>

</mapper>